<div class="user-profy slick-slide slick-cloned" tabindex="-1" style="width: 201px;" data-slick-index="-2"
  aria-hidden="true">
  <img src="assets/images/resources/user2.png" alt="">
  <h3>John Doe</h3>
  <span>Graphic Designer</span>
  <ul>
    <li><a href="#" title="" class="followw" tabindex="-1">Follow</a></li>
    <li><a href="#" title="" class="envlp" tabindex="-1"><img src="assets/images/envelop.png" alt=""></a></li>
    <li><a href="#" title="" class="hire" tabindex="-1">hire</a></li>
  </ul>
  <a href="#" title="" tabindex="-1">View Profile</a>
</div>